/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   CSS RESET STARTS
*/
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*CSS RESET ENDS  */

body {
	background-color: #F0EEF1;
	font-family: 'Roboto Flex', sans-serif;
}

.header-login{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #FFFBFB;
	padding: 30px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow to the bottom */
	position: relative;
}

.logo-text-container{
	display: flex;
	align-items: center;
	gap: 10px;
}
.logo{
	height: 30px;
}
.logo-text{
	font-size: 2.0rem;
	font-weight: 600;
}

.login-button{
	font-size: 1rem;
	font-family: 'Roboto Flex', sans-serif;
	font-weight: 500;
	height: 40px;
	width: 80px;
	border: none;
	border-radius: 8px;
	outline: none;
	transition: background-color 0.3s ease; /* Add a smooth transition on background-color property */
	cursor: pointer;
}

.login-button:hover{
	background-color: #d1d5db;
}

.button-container{
	display: grid;
	justify-content: center;
}

.add-book-button{
	font-size: 1.5rem;
	font-family: 'Roboto Flex', sans-serif;
	font-weight: 650;
	height: 50px;
	width: 170px;
	margin: 10px;
	border: none;
	border-radius: 8px;
	transition: background-color 0.3s ease;
	cursor: pointer;
}

.add-book-button:hover{
	background-color: #d1d5db;
}

.book-card-parent-container{
	display: flex;
	justify-content: center;
}

.book-card-container{
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
	grid-gap: 20px;
	max-width: 1000px;
}

.book-card{
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px;
	height: 300px;
}

.book-form{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding: 20px;
}
.book-detail-pop-up{
	display: flex;
	justify-content: center;
}

.form-heading{
	font-weight:600;
}

.book-form input[type='text']{
	background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 150px;
    padding: 7px;
    font-size: 14px;
	outline: none;
}

.input-box span{
	position: absolute;
	left: 400px;
}